<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
<h1> U are now in the Harry Potter books page!</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
<center>
            <a href="https://www.amazon.com/harry-potter-books/s?k=harry+potter+books"> <img src="https://m.media-amazon.com/images/I/71HbYElfY0L._AC_UF1000,1000_QL80_.jpg" width="100" height="170"> </a>
            <p> Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns Harry's conflict with Lord Voldemort, a dark wizard who intends to become immortal, overthrow the wizard governing body known as the Ministry of Magic and subjugate all wizards and Muggles (non-magical people). </p>
            </center>
<a href="http://127.0.0.1:5000/hello"> Home </a>
<a href= "/cart" color= "white"> Cart </a>

</head>
<body>

</body>
</html>
