body{
	background-image: url("https://wallpaperaccess.com/full/124611.jpg");
}


h1{
	color: white;
	text-align: center;
	font-family: serif;

}
p{
	color: white;
	text-align: center;
	font-family: serif;

}